:root {
  --special-font: "Raleway", sans-serif;
  --basic-font: "Open Sans", sans-serif;
  --main-color: #34b7a7;
  --main-color--light: #51cdbe;
  --main-color--desaturate: #dcf5f2;
  --white: white;
}