# Python
*.pyc
__pycache__/
_pypackages_

# IDEs
.vscode/
.idea/

# Environments
env/
venv/

# Temporary Files
*.swo
*.swp

# Binary Files
*.DS_Store

# Project Files
assets/stylesheets/libs/*.css
*.map
ref/
_local-testing.html
