{% extends "base.html" %}

{% block main %}

<section role="banner" id="aboutbanner">
</section>

<section role="header" class="blue">
  <h1>About Us</h1>
</section>

<section role="content" class="white">
  <h2>General</h2>
  <p>Nikkei Choral Ensemble, also known as NiCE, is an a cappella group at UC Berkeley that arranges and performs
    songs in both Japanese and English. We are a group of fun-loving individuals who enjoy sharing good music and
    making people smile. </p>
</section>

<section role="content" class="lightblue">
  <h2>Humble Beginnings</h2>
  <p>Nikkei Choral Ensemble was founded in 2010 by Naomi Amakawa originally as an open student musical group, no
    audition required, within the Nikkei Student Union (NSU). The group, without an official name, served as more of
    a
    social music group rather than a performing arts group and only occasionally performed at cultural events. </p>
  <p>From Fall 2011 to Spring 2016, Nikkei Choral Ensemble operated as an autonomous group with the NSU. Holding
    their
    first showcase in Spring 2012, members of NiCE began to focus on performance as a key component of group
    activity.
    The group began auditioning new members within the same semester.</p>
  <p>In Fall 2016, Nikkei Choral Ensemble became an independent RSO musical group, as members wanted to focus more
    on
    musical activities. Since then, NiCE has focused on continuously improving sound and performance, in order to
    put
    together the best showcases they possibly can. </p>
</section>

<section role="content" class="white">
  <h2>Our Music</h2>
  <p>Each semester, we aim to put on a public showcase of various pieces we work on as a group. Our entirely
    member-selected and arranged repertoire consists of a wide variety of in both Japanese and English, ranging from
    western pop and indie songs to songs from anime and games, Japanese classics, and more. Our repertoire changes
    every semester as a result of members’ dedication to arranging and performing new songs.</p>
  <p>For more information about our current repertoire, please contact us at nikkeichoralensemble@gmail.com.</p>
</section>

<section id="currentmembers" class="lightblue">

  <h2>Current Members</h2>

  <div class="grid-container">

    <div class="memberprofile">
      <div id="samee" class="memberphoto"></div>
      <h3>Samee Ibraheem</h3>
    </div>

    <div class="memberprofile">
      <div id="emma" class="memberphoto"></div>
      <h3>Emma Jiang</h3>
    </div>

    <div class="memberprofile">
      <div id="roger" class="memberphoto"></div>
      <h3>Roger Zhang</h3>
    </div>

    <div class="memberprofile">
      <div id="jessica" class="memberphoto"></div>
      <h3>Jessica Qian</h3>
    </div>

    <div class="memberprofile">
      <div id="april" class="memberphoto"></div>
      <h3>April Sin</h3>
    </div>

    <div class="memberprofile">
      <div id="jon" class="memberphoto"></div>
      <h3>Jon Qian</h3>
    </div>

    <div class="memberprofile">
      <div id="hiro" class="memberphoto"></div>
      <h3>Hiroyuki Tominaga</h3>
    </div>

    <div class="memberprofile">
      <div id="extra1" class="memberphoto"></div>
      <h3>This could be you!</h3>
    </div>

    <div class="memberprofile">
      <div id="extra2" class="memberphoto"></div>
      <h3>This could be you!</h3>
    </div>

  </div><!-- End grid-container -->
</section><!-- End member profiles -->

<section id="alumni" role="content" class="white">
  <h2>♡ Alumni Group ♡</h2>
  <p>Check out our alumni group, MEaN (Members Even After NiCE)! </p>
  <a role="social-media" class="fab fa-youtube" href="https://www.youtube.com/channel/UCNQtYvjrdGiEq7S9vSdrC_w"
    target="_blank"></a>
</section>

{% endblock %}
