{% extends "_template.html" %}

{% block main %}

<section role="banner" id="auditionsbanner"></section>

<section role="header" class="blue">
  <h1>Join NiCE!</h1>
</section>

<section role="content" class="white">
  <p>Interested in singing, performing, and making friends? Enjoy both Japanese and English music?</p>
  <p>If so, then NiCE might be the group for you! Nikkei Choral Ensemble (otherwise known as NiCE) is holding virtual
    auditions for the Spring 2021 semester for singers in all voice parts and beatboxers, so if you’re interested in
    joining us, sign up for an audition slot below!</p>
  <a role="button" class="pink" href="http://calendly.com/wearenice/nice-spring-2021-auditions" target="_blank">SPRING 2021 AUDITIONS
    NOW OPEN!</a>
  <p>Auditions this semester will be running from January 19th to January 30th on a sign-up-only basis, so make sure
    to secure an audition slot early! No Japanese knowledge required.</p>
</section>

<section role="content">
  <h2>What are we doing in Spring 2021?</h2>
  <p>In Spring 2021, our focus will be on creating—as a group, we will be recording songs and making music videos to
    release throughout the semester. In addition to this, we will also be having solo workshops with all members every
    other week. Our practices this semester will be on Tuesday, Thursday, and Saturday evenings. Practice on Tuesdays
    and Thursdays will usually be one hour, while solo workshops on Saturdays will be two hours.
  </p>
</section>

<section role="content" id="faq" class="lightblue">

  <h2>Frequently Asked</h2>

  <details>
    <summary> Q: Do I have to be Japanese to join? </summary>
    <p>Nope! And no Japanese language knowledge is necessary, either. </p>
  </details>

  <details>
    <summary> Q: What does an audition entail? </summary>
    <p>We will ask you to come prepared with an excerpt of a song of your choice and an excerpt of a song of our
      choice.
      In addition, there will be a few basic warm-up and learning exercises.</p>
  </details>

  <details>
    <summary> Q: What if I don't know my vocal part? </summary>
    <p>We'll help you figure it out during the audition!</p>
  </details>

  <details>
    <summary> Q: What if I don't have any prior experience? </summary>
    <p>No prior experience is required. We're all learning together. We just ask that you be willing to put in the
      effort to make sure you are performance-ready for gigs and showcase.</p>
  </details>

  <details>
    <summary> Q: What if I've already auditioned for NiCE?</summary>
    <p>No worries, there is no limit on the number of times you can audition for NiCE. In fact, several past and
      current members of NiCE are those who have auditioned multiple times before joining!</p>
  </details>

  <details>
    <summary> Q: Does NiCE perform? </summary>
    <p>This depends on the type of semester. Normally, we are invited to perform at various gigs throughout the
      semester and hold a showcase at the end of each semester. However, due to the pandemic, we have been unable to
      perform in person. Instead, we will be focusing on producing content that can be shared online!</p>
  </details>

</section>

{% endblock %}
