{% extends "_template.html" %}

{% block main %}
<section role="banner" id="homebanner">
  <img role="logo" src="assets/images/whitenicelogo_small.png" width="100">
  <h1>We are NiCE!</h1>
  <p>UC Berkeley's premier Japanese and English a cappella group</p>
  <a role="button" class="blue" href="/about">About Us</a>
</section>

<section role="content" class="pink">
  <h2>Interested in joining?</h2>
  <a role="button" class="pink" href="/auditions">Spring 2021 Auditions Open</a>
</section>

<section role="content" class="white">
  <h2>Recent Performances</h2>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/PUslCt-1KkA" frameborder="0"
    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
</section>

{% endblock %}
