/*--------------------------------------------------------------
# Basic Elements
--------------------------------------------------------------*/
body {
  display: block;
  font-family: $main-font;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $body-font;
}

/*--------------------------------------------------------------
# Header, Footer, Nav
--------------------------------------------------------------*/
@mixin center-children {
  display: flex;
  align-items: center; // vertical align
  text-align: center;
}
header,
nav,
footer {
  @include center-children();
  position: fixed;
  width: 100%;
  padding: 5px 15px;
}
nav {
  // position: fixed;
  transform: translate(-50%, 0%);
  left: 50%;
}
// /*--------------------------------------------------------------
// # Header
// --------------------------------------------------------------*/
// header {
//   // placement
//   position: fixed;
//   height: 7%;
//   width: 100%;
//   @include center-children;

//   // styling

//   background: _palette(theme);
//   box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);

//   > a {
//     // header links
//     display: block;
//     position: relative;
//     transition: 0.3s;
//     color: _palette(_white);
//     font-size: 15px;
//     font-family: $main-font;
//     font-weight: 600;
//     &:before {
//       //animation
//       content: "";
//       position: absolute;
//       width: 0;
//       height: 2px;
//       bottom: -5px;
//       left: 0;
//       background-color: #34b7a7;
//       visibility: hidden;
//       width: 0px;
//       transition: all 0.3s ease-in-out 0s;
//     }
//     &:hover {
//       text-decoration: none;
//     }
//   }
// }

// /* Logo */
// .logo {
//   font-size: 32px;
//   margin: 0;
//   padding: 0;
//   line-height: 1;
//   font-weight: 400;
//   letter-spacing: 2px;

//   // & a {
//   //   color: inherit;
//   //   &:hover {
//   //     text-decoration: none;
//   //   }
//   // }

//   // & img {
//   //   max-height: 40px;
//   // }
// }

// /* The navigation bar */
// nav {
//   // Fix navbar to middle of page
//   // position: fixed;
//   transform: translate(-50%, 0%);
//   // left: 50%;
//   > ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;
//     display: flex;
//     > li {
//       position: relative;
//       white-space: nowrap;
//       padding: 10px 0 10px 28px;
//     }
//   }
// }

// /*--------------------------------------------------------------
// # Footer
// --------------------------------------------------------------*/
// footer {
//   background: #e9e8e6;
//   padding: 30px 0;
//   color: #222222;
//   font-size: 14px;
//   text-align: center;

//   > li {
//     list-style: none;
//   }
//   // .credits {
//   //   padding-top: 5px;
//   //   font-size: 13px;
//   // }

//   // .credits a {
//   //   color: #34b7a7;
//   // }
// }
