/*--------------------------------------------------------------
# Page Setup
--------------------------------------------------------------*/
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  @include top-level();
  position: fixed;
  top: 0px;
  width: 100%;
  @include setupFlex(space-between);
}

main {
  @include ground-level();
  flex: 1 0 auto;
  width: 100%;
  min-height: 100%;
}

div {
  z-index: inherit;
  position: relative;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

section,
article {
  @include ground-level();
  margin-bottom: 6em;
}

footer {
  @include top-level();
  width: 100%;
  flex-shrink: 0;
}

/*--------------------------------------------------------------
# Top
--------------------------------------------------------------*/
header,
footer {
  a {
    margin: 5px;
  }
}

.logo {
  @include setupFlex(center);
  img {
    max-height: 40px;
  }
}
nav {
  @include setupFlex(space-between);
  // place nav at dead center of page
  // position: fixed;
  // left: 50%;
  // transform: translate(-50%, 0%);
  li {
    list-style: none; 
  }
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
.back-to-top {
  @include setupFlex;
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  > a {
    margin: 5px;
  }
}

/*--------------------------------------------------------------
# Banners
--------------------------------------------------------------*/

#banner {
  background: $fade-to-dark, url("../img/group.jpg");
  background-position: center center;
  background-size: cover;

  @include setupFlex(center);
  flex-direction: column;
  * {
    position: relative;
    top: 30vh;
  }
  h1 {
    // title
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    // line-height: 56px;
    color: _palette(_white);
  }
  h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(_palette(theme), _palette(_white));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  h2 {
    //subtitle
    color: _palette(_black);
    font-size: 22px;
  }
  button {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #34b7a7;
    &:hover {
      background: #3dc8b7;
    }
  }
}
