header {
  position: fixed;
  top: 0px;
  width: 100%;

  display: flex;
  align-items: center;

  > nav {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    > ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  > .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    > a {
      margin: 5px;
    }
  }
}

.back-to-top {
  position: relative;
  right: 0px;
  bottom: 0px;
}
