/*--------------------------------------------------------------
# Reset Elements
--------------------------------------------------------------*/
// body,
// header,
// footer,
// main,
// nav {
//   padding: 0px;
//   margin: 0px;
// }

a,
a:hover {
  color: unset;
  text-decoration: none;
}

// * {
//   vertical-align: center;
//   text-align: center;
//   font-family: $body-font;
// }

* {
  border: 1px solid red; // DEBUG USE
}
