/*--------------------------------------------------------------
# Reset Elements
--------------------------------------------------------------*/
* {
  // all: unset;
  border: 1px solid red;
  vertical-align: center;
  // text-align: center;
  font-family: $body-font;
}
body,
header,
footer,
main,
nav {
  padding: 0px;
  margin: 0px;
}
