/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  background: _palette(_white);
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.1);
  padding: 5px 15px;

  .logo {
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 2px;
    color: _palette(_black);
  }
  nav a {
    // style nav tabs
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    margin: 0px 20px;
  }
  // responsive elements
  .logo,
  nav a {
    // hover animation
    &:before {
      content: "";
      visibility: hidden;

      background-color: _palette(accent);
      transition: all 0.3s ease-in-out 0s;

      width: 0;
      height: 2px;

      position: absolute;
      bottom: -5px;
      left: 0;
    }
    &:hover:before {
      visibility: visible;
      width: 25px;
    }
    &:hover {
      color: _palette(accent);
    }
  }
  nav a {
    // style active tab
    &.active:before {
      visibility: visible;
      width: 25px;
    }
    &.active {
      color: _palette(accent);
      margin: 5px;
      padding: 5px;
    }
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
  @include setupFlex(space-between);
  background: _palette(accent-lighter);
  font-size: small;
  padding: 5px 30px;

  div {
    width: 30%;
  }
  #copyright {
    text-align: right;
    li {
      list-style-type: none;
    }
  }
  #ocf {
    @include setupFlex;
    //   border-left: 10px solid #ccc;
    //   background-color: #e7eae8;
  }
}

/*--------------------------------------------------------------
# Icons and Buttons
--------------------------------------------------------------*/
.fas,
.fab {
  background-color: _palette(_grey);
  color: _palette(white);
  font-size: 24px;
  text-align: center;
  vertical-align: center;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  transition: all 0.4s;
  &:hover {
    position: relative;
    top: -5px;
    background: _palette(theme);
    // transition: all 0.3s;
  }

  &:before {
    /// style icons
    color: #f2f5f3;
    font-size: 32px;
    line-height: 48px;
  }

  &:hover {
    position: relative;
    top: -5px;
  }

  &.fa-youtube:hover {
    background-color: #c4302b;
  }
  &.fa-facebook:hover {
    background-color: #4267b2;
  }
  &.fa-instagram:hover {
    background-color: #bc2a8d;
    background: linear-gradient(
      45deg,
      #fccc63,
      #fbad50,
      #e95950,
      #cd486b,
      #bc2a8d,
      #8a3ab9,
      #4c68d7
    );
  }
  &.fa-envelope:hover {
    background-color: #666666;
  }
}

.back-to-top i {
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: _palette(theme);
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #3dc8b7;
  color: #fff;
}

/* Others */
h2.major {
  position: relative;
  border-top: solid 5px #e7eae8;
  font-size: 1.65em;
  text-align: center;
  margin: 0 0 3em 0;
  top: 0.775em;
  span {
    background: #fff;
    position: relative;
    display: inline-block;
    top: -0.775em;
    padding: 0 1.25em 0 1.25em;
  }
}
