header {
  background: _palette(_grey);
  padding: 10px 15px;
}

footer {
  background: _palette(accent-lighter);
  padding: 10px 15px;
}

.logo {
  & a {
    color: _palette(_black);
  }
}

.contact > a {
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 6px;
  outline: 0;
  background: #c1cac5;
  text-align: center;

  &:before {
    color: #f2f5f3;
    font-size: 32px;
    line-height: 48px;
  }

  &:hover {
    top: -5px;

    a {
      &.fa-youtube {
        background-color: #2e5e86;
      }
      &.fa-facebook {
        background-color: #3c5a98;
      }

      &.fa-instagram {
        background-color: #2e5e86;
      }
    }
  }
}
