// Misc.
$misc: (
  z-index-base: 10000,
);

// Duration.
$duration: (
  navPanel: 0.5s,
);

// Size.
$size: (
  navPanel: 275px,
);

// Font.
$font: (
  $main-font: (
    "Raleway",
    sans-serif,
  ),
  $body-font: (
    "Open Sans",
    sans-serif,
  ),
) !default;

// Palette.
$palette: (
  $theme-color: blue,
);

// Images
$images: ();
