// Fonts
$main-font: "Raleway", sans-serif;
$body-font: "Open Sans", sans-serif;

// Palette.
$palette: (
  "theme": #4787c3,
  "theme-dark": #235d9c,
  "accent": #f65e89,
  "accent-lighter": #ffcacf,
  "_black": #222222,
  "_white": #e9e8e6,
  "_grey": #b3b3b3,
  //e9e8e6
);

@function _palette($key) {
  @return map-get($palette, $key);
}

@mixin setupFlex($justify: initial) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

$fade-to-dark: linear-gradient(transparent 50%, _palette(accent-lighter));
