// Misc.
$misc: (
  z-index-base: 10000,
);

// Duration.
$duration: (
  navPanel: 0.5s,
);

// Size.
$size: (
  navPanel: 275px,
);

// Font.
$font: {
  $main-font: "Open Sans Condensed", sans-serif;
}

// Palette.
$palette: {
  $theme-color: blue;
}

// Images
$images: {
}
