@use "vars.scss"; // variables
@use "mixins.scss"; // helper classes
/*--------------------------------------------------------------
# Basic Setup
--------------------------------------------------------------*/
* {
  box-sizing: border-box;

  min-height: 10px;
  max-height: 10px;
  max-height: 100%;
  max-width: 100%;

  overflow: scroll; //TODO remove?
  text-align: left;
  vertical-align: middle;
  place-self: center center;
}

/*--------------------------------------------------------------
# Page Setup
--------------------------------------------------------------*/
html {
  height: 100%;
}
body {
  min-height: 100%; // fill screen

  display: grid;
  grid-template-rows: auto 1fr auto; // header, main, footer
  grid-template-columns: 1fr;
}

header {
  max-height: 20vh;
  @include mixins.fill-width;

  display: grid;
  grid-template-columns: auto 2fr auto;
}

main {
  @include mixins.fill-width;
}

footer {
  @include mixins.fill-width;

  @include mixins.Grid;
  display: grid;
  grid-template-columns: auto auto auto;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
// Global Components
#logo {
  // @include Grid(space-evenly);
  img {
    height: 1cm;
    width: auto;
  }
}
#topnav {
  @include FlexRow(space-evenly);
}
#sidenav {
  @include FlexCol(start);
  display: none;
}
.contact {
  @include FlexRow(center);
}

// Header Components
header {
  .logo {
    display: inline-block;
    img {
      height: 1cm;
      width: 1cm;
    }
  }
}

// Main Components
main {
  section {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
  }
}

// Footer Components
footer {
  // .ocf {
  //   display: inline-block;
  // }
  // .copyright {
  // }
}
