@use "vars.scss"; // variables
@use "mixins.scss"; // helper classes
/*--------------------------------------------------------------
# Basic Setup
--------------------------------------------------------------*/
* {
  overflow: scroll;
  text-align: left;
  vertical-align: middle;
  place-self: center center;
}

img {
  vertical-align: middle;
}
/*--------------------------------------------------------------
# Page Setup
--------------------------------------------------------------*/
html {
  height: 100%;
}
body {
  min-height: 100%; // fill screen

  display: grid;
  grid-template-rows: auto 1fr auto; // header, main, footer
  grid-template-columns: 1fr;
}

/*--------------------------------------------------------------
# Header, Main, Footer Setup
--------------------------------------------------------------*/
header {
  max-height: 20vh;
  @include mixins.fill-width;

  display: grid;
  grid-template-columns: auto 2fr auto;

  > * {
    display: block;
  }
}

main {
  @include mixins.fill-width;

  display: block;
  > * {
    display: block;
  }
}

footer {
  @include mixins.fill-width;

  @include mixins.Grid;
  display: grid;
  grid-template-columns: auto auto auto;

  > * {
    display: block;
  }
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
// Global Components
.contact {
  display: inline-block;
}
button {
}

// Header Components
header {
  .logo {
    display: inline-block;
    img {
      height: 100%;
      max-height: 40px;
      vertical-align: middle;
    }
  }
}

// Main Components
main {
  section {
    box-sizing: border-box;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
  }
}

// Footer Components
footer {
  // .ocf {
  //   display: inline-block;
  // }
  // .copyright {
  // }
}
