/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
$title-color:white;
$subtitle-color: white;

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/group.jpg") top right;
  background-size: cover;
}

// #hero .container {
//   padding-top: 70px;
//   position: relative;
// }

// @media (max-width: 992px) {
//   #hero .container {
//     padding-top: 58px;
//   }
// }

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: $title-color;
}

#hero h2 {
  color: $subtitle-color;
  margin: 10px 0 0 0;
  font-size: 22px;
}

#hero .btn-about {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  // margin-top: 30px;
  margin: 30px 10px;
  color: #fff;
  background: #34b7a7;
}

#hero .btn-about:hover {
  background: #3dc8b7;
  text-decoration: underline overline;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
