/*--------------------------------------------------------------
# Display Options
--------------------------------------------------------------*/

@mixin fix-to-page {
  position: fixed;
}

@mixin fix-to-parent {
  position: absolute;
}

@mixin topLeft($t: 0, $l: 0) {
  top: 0% + $t;
  left: 0% + $l;
}

@mixin topRight($t: 0, $r: 0) {
  top: 0%;
  right: 0%;
}

@mixin bottomLeft() {
  bottom: 0%;
  left: 0%;
}

@mixin bottomRight($b: 0, $r: 0) {
  bottom: 0% + $b;
  right: 0% + $r;
}

@mixin FlexRow($justify: center) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  align-content: space-evenly;

  justify-items: center;
  justify-content: $justify;
}

@mixin FlexCol($justify: center) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: center;
  align-content: space-evenly;

  justify-items: center;
  justify-content: $justify;
}

/*--------------------------------------------------------------
# Appearance
--------------------------------------------------------------*/

@mixin fill-width {
  width: 100vw;
}

@mixin fill-height {
  height: 100vh;
}

/*--------------------------------------------------------------
# Flexboxes
--------------------------------------------------------------*/
// [class^="flex-"] {
//   /* base flex properties */
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
// }

// .flex-row-center {
//   justify-content: center;
//   flex-direction: row;
// }

// .flex-row-spaced {
//   justify-content: space-between;
//   flex-direction: row;
// }

// .flex-row-even {
//   justify-content: space-evenly;
//   flex-direction: row;
// }

// .flex-col-center {
//   justify-content: center;
//   flex-direction: column;
// }

// .flex-col-space {
//   justify-content: space-between;
//   flex-direction: column;
// }

// .flex-col-even {
//   justify-content: space-evenly;
//   flex-direction: column;
// }

/*--------------------------------------------------------------
# Positions
--------------------------------------------------------------*/
/* Position on Page */
.fix-to-page {
  position: fixed;
}

.fix-to-parent {
  position: absolute;
}

/* Stacking Order on Page */

/*--------------------------------------------------------------
# Size (relative to parent)
--------------------------------------------------------------*/
.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

/*--------------------------------------------------------------
# Appearance
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/
