/* Error: expected ")".
 *      ,
 * 1208 |   background-image: linear-gradient($banner-img;
 *      |                                                ^
 *      '
 *   static/sass/main.scss 1208:48  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a      \2577 \a 1208 \2502    background-image: linear-gradient($banner-img;\a      \2502                                                 ^\a      \2575 \a   static/sass/main.scss 1208:48  root stylesheet';
}
