/*--------------------------------------------------------------
# Page Setup
--------------------------------------------------------------*/
html,
body {
  height: 100%;
}

header {
  z-index: var(--level--top);
  position: fixed;
  top: 0px;
  width: 100%;
}

main {
  z-index: var(--level--ground);
  width: 100%;
  min-height: 100%;
}

div {
  z-index: inherit;
  position: relative;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

section,
article {
  z-index: var(--level--ground);
  margin-bottom: 6em;
  
}

footer {
  z-index: var(--level--top);
  width: 100%;
  flex-shrink: 0;
}

/*--------------------------------------------------------------
# Flexbox display
--------------------------------------------------------------*/
/* make flex */
body,
header,
nav,
.logo,
.contact,
.back-to-top,
#banner {
  display: flex;
  align-items: center; /* vertical alignment */
}

/* horizontal alignment */
body,
header,
nav,
.logo,
.contact,
.back-to-top,
#banner {
  justify-content: center;
}
body,
header,
footer {
  justify-content: space-between;
}

/* display child elements in column style */
body,
.sidenav,
#banner {
  flex-direction: column;
}

/*--------------------------------------------------------------
# Top
--------------------------------------------------------------*/
.logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
header a,
footer a,
.contact a {
  margin: 5px;
}

.back-to-top {
  position: fixed;
  display: none; /* hidden until scoll */
  right: 15px;
  bottom: 15px;
  z-index: var(--level--top);
}
