/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  background: var(--palette--white);
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.1);
}
header .logo {
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2px;
  color: var(--palette--black);
}
header a {
  font-size: 15px;
  font-family: var(--font--main);
  font-weight: 600;
  margin: 0px 20px;
}

header a:before {
  /* hover animation */
  content: "";
  visibility: hidden;
  background-color: var(--palette--accent);
  transition: all 0.3s ease-in-out 0s;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
}

header a:hover:before {
  visibility: visible;
  width: 25px;
}

header a:hover {
  color: var(--palette--accent);
}

/* Active Tab */
nav .active {
  color: var(--palette--accent);
}
nav .active:before {
  visibility: visible;
  width: 25px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  background: var(--palette--theme);
  font-size: small;
  padding: 5px 30px;
}
footer div {
  width: 30%;
}
footer #copyright {
  text-align: right;
}
footer #copyright li {
  list-style-type: none;
}

/*--------------------------------------------------------------
# Text
--------------------------------------------------------------*/
h2.major {
  position: relative;
  border-top: solid 5px #e7eae8;
  font-size: 1.65em;
  text-align: center;
  margin: 0 0 3em 0;
  top: 0.775em;
}
h2.major span {
  background: #fff;
  position: relative;
  display: inline-block;
  top: -0.775em;
  padding: 0 1.25em 0 1.25em;
}


/*--------------------------------------------------------------
# Icons
--------------------------------------------------------------*/
.fas,
.fab {
  background-color: #b3b3b3;
  font-size: 24px;
  text-align: center;
  vertical-align: center;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  transition: all 0.4s;
}
.fas:hover,
.fab:hover {
  position: relative;
  top: -5px;
  background: var(--palette--accent);
}
.fas:before,
.fab:before {
  color: #f2f5f3;
  font-size: 32px;
  line-height: 48px;
}
.fas:hover,
.fab:hover {
  position: relative;
  top: -5px;
}
.fas.fa-youtube:hover,
.fab.fa-youtube:hover {
  background-color: #c4302b;
}
.fas.fa-facebook:hover,
.fab.fa-facebook:hover {
  background-color: #4267b2;
}
.fas.fa-instagram:hover,
.fab.fa-instagram:hover {
  background-color: #bc2a8d;
  background: linear-gradient(
    45deg,
    #fccc63,
    #fbad50,
    #e95950,
    #cd486b,
    #bc2a8d,
    #8a3ab9,
    #4c68d7
  );
}
.fas.fa-envelope:hover,
.fab.fa-envelope:hover {
  background-color: #666666;
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
.back-to-top {
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: var(--palette--theme);
  color: #fff;
  transition: all 0.4s;
}
.back-to-top:hover {
  background: var(--palette--theme);
  color: #fff;
}

/*--------------------------------------------------------------
# Banners
--------------------------------------------------------------*/
#banner {
  background: linear-gradient(transparent 50%, var(--palette--theme)),
    url("../img/group.jpg");
  background-position: center center;
  background-size: cover;
}
#banner * {
  position: relative;
  top: 30vh;
}
#banner h1 {
  margin: 0;
  font-family: var(--font--main);
  font-size: 72px;
  font-weight: 700;
  color: var(--palette--white);
}
/* #banner h1 {
  font-size: 72px;
  /* TODO add fallback */
  background: -webkit-linear-gradient(
    var(--palette--theme),
    var(--palette--accent)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
#banner h2 {
  color: var(--palette--white);
  font-family: var(--font--body);
  font-size: 22px;
}
#banner button {
  font-family: var(--font--main);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin-top: 30px;
  color: var(--palette--white);
  background: var(--palette--accent);
}
#banner button:hover {
  background: var(--palette--accent-lighter);
}