:root {
  /* Fonts */
  --font--main: "Raleway", sans-serif;
  --font--body: "Open Sans", sans-serif;

  /* Palette. */
  --palette--theme: #4787c3;
  --palette--theme-dark: #235d9c;
  --patette--theme-light: #d0e0f0;
  --palette--accent: #f65e89;
  --palette--accent-lighter: #ffcacf;
  --palette--black: #2a324b;
  --palette--white: #ffffff;
  --palette--grey: #f5f5f5;

  /* Responsive Screen Thersholds */
  --screen--small: 200px;
  --screen--medium: 500px;
  --screen--large: 1000px;

  /* Z-index */
  --level--top: 100;
  --level--mid: 50;
  --level--ground: 0;
  --level--underground: -100;
}
