@font-face {
  font-family: "RalewayMedium";
  src: url(../font/Raleway-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "RalewayMediumItalic";
  src: url(../font/Raleway-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: "RalewayExtraLight";
  src: url(../font/Raleway-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "RalewayExtraLightItalic";
  src: url(../font/Raleway-ExtraLightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "GothicA1";
  src: url(../font/GothicA1-Regular.ttf) format("truetype");
}

:root {
  /* Layout */
  --gutter: 10vw;

  /* Fonts */
  --font--main: "RalewayMedium", sans-serif;
  --font--main-italic: "RalewayMediumItalic", sans-serif;
  --font--main-light: "RalewayExtraLight", sans-serif;
  --font--main-light-italic: "RalewayExtraLightItalic", sans-serif;
  --font--body: "GothicA1", sans-serif;

  --font--xs: 15vw;
  --font--m: 32vw;
  --font--l: 48vw;
  --font--xl: 72vw;

  /* Palette. */
  --palette--theme: #4787c3;
  --palette--theme-dark: #235d9c;
  --patette--theme-light: #d0e0f0;
  --palette--accent: #f65e89;
  --palette--accent-lighter: #ffcacf;
  --palette--black: #2a324b;
  --palette--white: #ffffff;
  --palette--grey: #f5f5f5;

  /* Responsive Screen Thersholds */
  --screen--small: 200px;
  --screen--medium: 500px;
  --screen--large: 1000px;

  /* Z-index */
  --level--roof: 500;
  --level--top: 100;
  --level--mid: 50;
  --level--ground: 0;
  --level--underground: -100;
}
