:root {
  /* Fonts */
  --font--main: "Raleway", sans-serif;
  --font--body: "Open Sans", sans-serif;

  /* Palette. */
  --palette--theme: #4787c3;
  --palette--theme-dark: #235d9c;
  --patette--theme-light: #D0E0F0;
  --palette--accent: #f65e89;
  --palette--accent-lighter: #ffcacf;
  --palette--off-black: #2A324B;
  --palette--palette-black: #222222;
  --palette--white: #ffffff;
  --palette--grey: #f5f5f5;
}
