/*--------------------------------------------------------------
# Reset Elements
--------------------------------------------------------------*/
* {
  border: 1px solid red;
  vertical-align: center;
  font-family: "Open Sans", sans-serif;
}

body,
header,
footer,
main,
nav {
  padding: 0px;
  margin: 0px;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

nav {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
}

nav > ul,
footer > .contact {
  all: unset;
  list-style: none;
  display: flex;
}

header {
  background: #b3b3b3;
  padding: 10px 15px;
}

footer {
  background: #ffcacf;
  padding: 10px 15px;
}

.logo a {
  color: #222222;
}
