/*--------------------------------------------------------------
#
# Full Style Sheet
#
--------------------------------------------------------------*/
/* Webfonts Setup */
@import "fontawesome-all.min.css";
@font-face {
  font-family: "RalewayMedium";
  src: url("../webfonts/Raleway-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "RalewayMediumItalic";
  src: url("../webfonts/Raleway-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "RalewayExtraLight";
  src: url("../webfonts/Raleway-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "RalewayExtraLightItalic";
  src: url("../webfonts/Raleway-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "GothicA1";
  src: url("../webfonts/GothicA1-Regular.ttf") format("truetype");
}
/* Global Variables */
:root {
  /*** LAYOUT ***/
  --gutter-tb: 3%;
  /* Top & Bottom */
  --gutter-lr: 8%;
  /* Left & Right */
  /* z-index */
  --level--roof: 1000;
  --level--top: 800;
  --level--mid: 30;
  --level--ground: 0;
  --level--underground: -100;
  /*** APPEARANCE ***/
  /* Fonts */
  --font--main: "RalewayMedium", sans-serif;
  --font--main-italic: "RalewayMediumItalic", sans-serif;
  --font--main-light: "RalewayExtraLight", sans-serif;
  --font--main-light-italic: "RalewayExtraLightItalic", sans-serif;
  --font--body: "GothicA1", sans-serif;
  --font--xs: 15vw;
  --font--m: 32vw;
  --font--l: 48vw;
  --font--xl: 72vw;
  /* Palette. */
  --palette--theme: #4787c3;
  --patette--theme-lighter: #d0e0f0;
  --palette--theme-darker: #235d9c;
  --palette--accent: #f65e89;
  --palette--accent-lighter: #ffcacf;
  --palette--accent-darker: #c55172;
  --palette--black: #2a324b;
  --palette--white: #ffffff;
  --palette--grey: #f5f5f5;
  /*** Breakpoints ***/
  /* unused for now */
  --screen--small: 200px;
  --screen--medium: 500px;
  --screen--large: 1000px;
}

/*--------------------------------------------------------------
# Global Settings
--------------------------------------------------------------*/
/* Reference:
  http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain) */
/*** LAYOUT ***/
* {
  box-sizing: content-box;
  height: minmax(10px, fit-content);
  width: minmax(10px, fit-content);
  place-self: center center;
}

body,
navbar,
main,
footer {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  /* fill up the whole screen */
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* navbar main footer */
}

/*** APPEARANCE ***/
* {
  padding: 0px;
  margin: 0px;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
}

p {
  text-align: left;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.blue {
  background-color: var(--palette--theme);
  color: var(--palette--white);
}
.blue a[role=button] {
  background: radial-gradient(--palette--theme-darker, --palette--white);
}

.white {
  background-color: var(--palette--white);
  color: var(--palette--black);
}
.white a[role=button] {
  background: radial-gradient(--palette--white, --palette--grey);
}

.pink {
  background-color: var(--palette--accent-lighter);
  color: var(--palette--accent-darker);
}
.pink a[role=button] {
  background: radial-gradient(--palette--accent-lighter, --palette--accent-darker);
}

/*** ANIMATIONS ***/
/*--------------------------------------------------------------
# Basic
--------------------------------------------------------------*/
/*** LAYOUT ***/
/*** APPEARANCE ***/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font--main);
}

body {
  font-family: var(--font--body);
}

a[role=button],
a[role=button]:hover {
  text-decoration: none;
}

button {
  padding: 1em 3em;
}

/*** ANIMATION ***/
/*--------------------------------------------------------------
# Page Setup
--------------------------------------------------------------*/
/*** LAYOUT ***/
navbar {
  max-height: 20vh;
  width: 100vw;
  margin: 0%-var(--gutter-tb), 0%-var(--gutter-lr);
}
navbar #navtabs {
  display: inline-flex;
  position: relative;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}
navbar .contact {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(0, 50%);
}

main {
  width: 100vw;
  margin: 0%-var(--gutter-tb), 0%-var(--gutter-lr);
}

footer {
  width: 100vw;
  margin: 0%-var(--gutter-tb), 0%-var(--gutter-lr);
  display: Grid;
  gap: 10px;
  align-content: space-evenly;
  justify-content: space-evenly;
  grid-auto-rows: minmax(10px, auto);
  grid-auto-columns: minmax(10px, auto);
  grid-template-columns: auto auto auto;
}

section {
  margin: 0%-var(--gutter-tb), 0%-var(--gutter-lr);
  padding: 5% 10%;
}

/*** APPEARANCE ***/
navbar,
main,
footer,
a[role=button] {
  padding: 1em, 1em;
  margin: 1em, 1em;
}

body {
  background: var(--palette--accent-lighter);
}

navbar {
  background: var(--palette--white);
  box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
}
navbar #navtabs > a[role=button] {
  font-size: 15px;
  font-family: var(--font--main);
  text-transform: lowercase;
  color: var(--palette--black);
  padding: 2em 2em;
  margin: 0em 2em;
}
navbar #navtabs > a[role=button]:hover {
  color: var(--palette--white);
  background: var(--palette--theme);
}
navbar #open-nav-btn {
  font-size: 30px;
  cursor: pointer;
}

footer {
  color: var(--palette--white);
  background: var(--palette--theme);
  font-family: var(--font--body);
  font-size: small;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/*** LAYOUT ***/
/* Navbar Components */
navbar {
  display: inline-flex;
}
navbar .logo .tmp {
  height: 40px;
  width: 40px;
}
navbar .logo {
  display: inline-block;
}
navbar .logo img {
  height: 1cm;
  width: 1cm;
}

/* Main Components */
#banner {
  display: flex;
  justify-content: center;
}

/* Footer Components */
#ocf {
  display: flex;
}

/* Other Components */
.contact {
  display: flex;
  flex-direction: row;
  align-items: space-evenly;
  align-content: space-evenly;
  justify-items: space-evenly;
  justify-content: space-evenly;
}

.fas,
.fab {
  height: 45px;
  width: 45px;
  border-radius: 22.5px;
  font-size: 22.5px;
  line-height: 45px;
  vertical-align: baseline;
  margin: 4.5px;
  padding: 0.9px;
}

/*** APPEARANCE ***/
/* Navbar Components */
/* Main Components */
#banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(transparent, 80%, var(--palette--theme)), url("../images/group.jpg");
  background-size: cover;
  background-position: center;
}
#banner h1 {
  font-size: 4vw;
  color: var(--palette--white);
  font-family: var(--font--main);
}
#banner h2 {
  font-size: 1vw;
  color: var(--palette--white);
  font-family: var(--font--body);
  padding: 1em;
}

/* Footer Components */
#footer p {
  margin: 1em;
}

/* Other Components */
/*** ANIMATION ***/
/*--------------------------------------------------------------
# Navigations
--------------------------------------------------------------*/
/* #navtabs changes to #sidenav in small screens */
#navtabs {
  display: Grid;
  gap: 10px;
  align-content: space-evenly;
  justify-content: space-evenly;
  grid-auto-rows: minmax(10px, auto);
  grid-auto-columns: minmax(10px, auto);
}

#sidenav {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: var(--level--roof);
  /* Stay on top */
  height: 100vh;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
#sidenav a[role=button] {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
#sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
#sidenav #close-nav-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  #sidenav {
    padding-top: 15px;
  }
  #sidenav a[role=button] {
    font-size: 18px;
  }
}
/* controlled by javascript */
button #open-nav-btn {
  display: none;
}
button #close-nav-btn {
  display: none;
}

/*--------------------------------------------------------------
# Font Awesome Icons
--------------------------------------------------------------*/
/*** LAYOUT ***/
/*** APPEARANCE ***/
.fas,
.fab {
  color: var(--palette--black);
  background-color: var(--palette--white);
}
.fas:hover,
.fab:hover {
  color: var(--palette--white);
  background: var(--palette--accent);
  position: relative;
  top: -5px;
}

.fas.fa-youtube:hover,
.fab.fa-youtube:hover {
  background-color: #c4302b;
}

.fas.fa-facebook:hover,
.fab.fa-facebook:hover {
  background-color: #4267b2;
}

.fas.fa-instagram:hover,
.fab.fa-instagram:hover {
  background-color: #bc2a8d;
  background: linear-gradient(45deg, #fccc63, #fbad50, #e95950, #cd486b, #bc2a8d, #8a3ab9, #4c68d7);
}

.fas.fa-envelope:hover,
.fab.fa-envelope:hover {
  background-color: #666666;
}

.fas.fa-arrow-up {
  background: var(--palette--theme);
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  /* color: #fff;
    transition: all 0.4s;
  }
  .fas.fa-arrow-up:hover {
    background: var(--palette--theme);
    /* color: #fff; */
}

/*** ANIMATION ***/
.fas,
.fab {
  /* property name | duration | easing function | delay */
  transition: position 2s ease-in-out 0.5s;
}

/*--------------------------------------------------------------
# Breakpoints
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# XLarge
--------------------------------------------------------------*/
@media screen and (max-width: 1680px) {
  /* Basic */
  /* Navbar */
  /* Main */
  /* Footer */
  /* Components */
}
/*--------------------------------------------------------------
# Large
--------------------------------------------------------------*/
@media screen and (min-width: 1281px) {
  /* Basic */
  /* Navbar */
  /* Main */
  /* Footer */
  /* Components */
}
@media screen and (max-width: 1280px) {
  /* Basic */
  /* Navbar */
  /* Main */
  /* Footer */
  /* Components */
}
/*--------------------------------------------------------------
# Medium
--------------------------------------------------------------*/
@media screen and (min-width: 981px) {
  /* Basic */
  /* Navbar */
  /* Main */
  /* Footer */
  /* Components */
}
@media screen and (max-width: 980px) {
  /* Basic */
  /* Navbar */
  /* Main */
  /* Footer */
  /* Components */
}
/*--------------------------------------------------------------
# Small
--------------------------------------------------------------*/
@media screen and (min-width: 561px) {
  /* Basic */
  /* Navbar */
  navbar #open-nav-btn {
    display: none;
  }

  /* Main */
  /* Footer */
  /* Components */
}
@media screen and (max-width: 560px) {
  /* Basic */
  div {
    display: block;
  }

  /* Navbar */
  navbar #navtabs,
navbar .contact,
navbar .logo img {
    display: none;
  }
  navbar #open-nav-btn {
    display: block;
  }

  footer {
    display: block;
  }

  /* Main */
  main {
    display: block;
  }

  /* Footer */
  /* Components */
  .fas,
.fab {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    font-size: 10px;
    line-height: 20px;
    vertical-align: baseline;
    margin: 2px;
    padding: 0.4px;
  }
}
/*--------------------------------------------------------------
# XSmall
--------------------------------------------------------------*/
@media screen and (min-width: 361px) {
  /* Basic */
  /* Navbar */
  /* Main */
  /* Footer */
  /* Components */
}
@media screen and (max-width: 360px) {
  /* Basic */
  /* Navbar */
  /* Main */
  /* Footer */
  /* Components */
}
