/* Error: expected "{".
 *     ,
 * 186 | >>>>>>> d453c502833de405b96f6b5b2150a7cd964ecc7e
 *     |                                                 ^
 *     '
 *   assets/stylesheets/libs/_style.scss 186:49  @import
 *   assets/stylesheets/main.scss 16:9           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 186 \2502  >>>>>>> d453c502833de405b96f6b5b2150a7cd964ecc7e\a     \2502                                                  ^\a     \2575 \a   assets/stylesheets/libs/_style.scss 186:49  @import\a   assets/stylesheets/main.scss 16:9           root stylesheet';
}
