{% extends "_template.html" %}

{% block main %}
<main>
  <section>
    <h1>Join NiCE!</h1>
    <h4>Interested in singing, performing, and making friends? Enjoy both Japanese and English music?</h2>
    <p>If so, then NiCE might be the group for you! Nikkei Choral Ensemble (otherwise known as NiCE) is holding virtual auditions for the Spring 2021 semester for singers in all voice parts and beatboxers, so if you’re interested in joining us, sign up for an audition slot below! </p>
    <button href="about.html">SPRING 2021 AUDITIONS NOW OPEN!</button>
    <p>Auditions this semester will be running from January 19th to January 30th on a sign-up-only basis, so make sure to secure an audition slot early! No Japanese knowledge required.</p>
  </section>
  <section>
    <h2>Frequently Asked Questions</h2>
  </section>
</main>
{% endblock %}