{% extends "_template.html" %}

{% block main %}
<main id="hero" class="d-flex align-items-center">
  <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
    <h1>Nikkei Choral Ensemble</h1>
    <h2>We are a student acapella group at UC Berkeley</h2>
    <div class="d-flex">
      <a href="about.html" class="btn-about">About Us</a>
      <a href="about.html" class="btn-about">About Us</a>
      <a href="about.html" class="btn-about">About Us</a>
    </div>
  </div>
</main>
{% endblock %}
