<nav id="nav">
  <ul>
    <li class="current"><a href="{{url_for('index')}}">Home</a></li>

    <!-- <li>
      <a href="#">Templates</a>
      <ul>
        <li><a href="{{url_for('test0')}}">No Sidebar</a></li>
        <li><a href="{{url_for('test1')}}">Left-sidebar</a></li>
        <li><a href="{{url_for('test2')}}">Right-sidebar</a></li>
        <li>
          <a href="#">Phasellus consequat</a>
          <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Phasellus consequat</a></li>
            <li><a href="#">Magna phasellus</a></li>
            <li><a href="#">Etiam dolore nisl</a></li>
          </ul>
        </li>
        <li><a href="#">Veroeros feugiat</a></li>
      </ul>
    </li> -->

    <li><a href="{{url_for('about')}}">About</a></li>
    <li><a href="{{url_for('auditions')}}">Auditions</a></li>
    <li><a href="{{url_for('more')}}">More?</a></li>
  </ul>
</nav>
